<h1 id="tableLabel">Most Active Employees</h1>

<p>Showing Top 10 Most Active Employees With Most Visited Department.</p>

<p *ngIf="!activeEmployees"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="activeEmployees">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department Name</th>
      <th>Total Visits</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of activeEmployees">
      <td>{{ employee?.firstName }}</td>
      <td>{{ employee?.lastName }}</td>
      <td>{{ employee?.departmentName }}</td>
      <td>{{ employee?.totalVisits }}</td>
    </tr>
  </tbody>
</table>
